<div style="overflow-x:auto;">
<div class="container">
    <div class="page-header">
        <h1 class="tbtitle">Search The Software!</h1></div>
    <div class="form-inline">
        <div class="form-group">
            <input type="search" class="form-control" id="searchInput" placeholder="Search" /></div>
    </div>

    <table id="table" class="table table-striped">
    <thead>
        <tr>
            <td>Repo</td>
            <td>Docs</td>
        </tr></thead>
    <tbody>
        {% for post in site.tags.repo limit: 10 %}
          <tr class="post_info">
            <td>
                 <a href="{{ post.url }}">{{ post.title }}</a>
            </td>
            <td>
              <a href="{{ post.docs }}" target="_blank">{{ post.docname }}</a>
            </td>
          </tr>
          {% endfor %}

        </tbody></table>
</div>
</div>
