---
layout: default
---

{% assign tag = site.data.tags[page.tag] %}

<h3 class="page-title">{{ tag.name }}</h3>
<hr/>

{% if site.tags[page.tag] %}
  {% for post in site.tags[page.tag] %}
    {% assign currentdate = post.date | date: "%Y" %}
    {% if currentdate != date %}
      {% unless forloop.first %}</ul><hr/>{% endunless %}
      <h4 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h4>
      <ul class="related-posts">
      {% assign date = currentdate %}
    {% endif %}
    <li>
      <h1>
        <a href="{{ post.url | prepend:site.baseurl }}">
          <span>{{ post.title }}</span>
        </a>
      </h1>
    </li>
    {% if forloop.last %}</ul><hr/>{% endif %}
  {% endfor %}
{% else %}
    <p>There are no posts for this tag.</p>
{% endif %}
